<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 p-0 m-0" *ngFor="let pokemon of listaPokemon; let i = index">
        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" [src]="obtenerFoto(i)" [alt]="pokemon.name" height="250">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title text-center"> {{(i+1)}} - {{pokemon.name |titlecase}}</h4>

            </div>

        </div>
        <!-- Card -->
    </div>
</div>